---
http_interactions:
- request:
    method: get
    uri: http://www.zipcodeapi.com/rest/3YJBA4WF9vpMJWjnh0otcznhkPzlsuRwtB74F4KOz9Bj6VGnV4Q8EepY3Zkwtc2X/radius.json/10001/5/km
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"zip_codes":[{"zip_code":"10271","distance":4.855,"city":"New York","state":"NY"},{"zip_code":"10280","distance":4.908,"city":"New
        York","state":"NY"},{"zip_code":"10038","distance":4.625,"city":"New York","state":"NY"},{"zip_code":"10006","distance":4.764,"city":"New
        York","state":"NY"},{"zip_code":"10046","distance":4.652,"city":"New York","state":"NY"},{"zip_code":"10047","distance":4.652,"city":"New
        York","state":"NY"},{"zip_code":"10048","distance":4.652,"city":"New York","state":"NY"},{"zip_code":"10015","distance":4.523,"city":"New
       [...]
[...]
- request:
    method: get
    uri: http://www.zipcodeapi.com/rest/3YJBA4WF9vpMJWjnh0otcznhkPzlsuRwtB74F4KOz9Bj6VGnV4Q8EepY3Zkwtc2X/radius.json/test_zipcode/test_radius/km
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code":400,"error_msg":"Invalid request."}'
  recorded_at: Tue, 08 Mar 2016 11:28:06 GMT
recorded_with: VCR 3.0.1
